<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <link href="/stylesheet/base.css" media="all" rel="stylesheet" type="text/css" /> 
    <script type="text/javascript" src="/javascript/jquery-1.6.4.min.js"></script>  
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="javascript/price.js"></script>
    <script type="text/javascript">
      var socket = io.connect('<%= hostname %>');

      var pricePublisher = new PricePublisher(socket);
      <% for(var i in priceSettings){ %>
        pricePublisher.addPriceListener("<%= i %>", new PricePanel({currencyPair : "<%= i %>" }));
      <% } %>

      socket.on('notification', function(data){
        $("#notification").html(data.message);
      });

   </script>
   <title>Prototype PricePanel</title>
  </head>
  <body>
    <h2>PricePanel Prototype powerd by Socket.IO</h2>
    <div id="notification">Loding...</div>

    <table class="pricePanel">
      <tr>
        <th>商品</th>
        <th>BID:売</th>
        <th>&nbsp;</th>
        <th>ASK:買</th>
        <th>&nbsp;</th>
        <th>高値/安値</th>
      </tr>
      <% for(var i in priceSettings){ %>
      <% var key = i.replace("/", "") %>
      <tr>
        <td id="currencyPair_<%= key %>" class="currencyPair"><%= i %></td>
        <td id="bidPrice_<%= key %>" class="bidPrice">--</td>
        <td id="bidArrow_<%= key %>" class="bidArrow">&nbsp;</td>
        <td id="askPrice_<%= key %>" class="askPrice">--</td>
        <td id="askArrow_<%= key %>" class="askArrow">&nbsp;</td>
        <td class="highlow">
          <div id="high_<%= key %>" class="high">--</div>
          <div id="low_<%= key %>" class="low">--</div>        
        </td>
      </tr>
      <% } %>
    </table>
    
  </body>
</html>
