<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascript/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.mobile-1.0rc1.js"></script>
    <script type="text/javascript" src="/javascript/price.js"></script>
    <script type="text/javascript">
      var socket = io.connect('<%= hostname %>');

      var pricePublisher = new PricePublisher(socket);
      <% for(var i in priceSettings){ %>
        pricePublisher.addPriceListener("<%= i %>", new PricePanel({currencyPair : "<%= i %>" }));
      <% } %>
    </script>
    <style type="text/css">
    .currencyPair {
        width: 25%;
        display: block;
        float: left;
    }
    .bidPrice, .askPrice{
        text-align: right;
        width: 25%;
        display: block;
        float: left;
    }
    .bidArrow, .askArrow{
        width: 20px;
        display: block;
        float: left;
    }

    .bidArrow.up, .askArrow.up {
        color: rgb(255,178,178);
    }

    .bidArrow.down, .askArrow.down {
        color: rgb(196,217,247);
    }
    </style>
    <title>Prototype PricePanel</title>
  </head>
  <body>
    <!-- page1 -->
    <div data-role="page" id="currencies">
      <div data-role="header" data-position="fixed">
        <h2>Currencies</h2>
      </div>
      <div data-role="contents">
        <ul data-role="listview">
             <li data-role="list-divider">
              <span class="currencyPair">Currencies</span>
              <span class="bidPrice">Bid</span>
              <span class="bidArrow">&nbsp;</span>
              <span class="askPrice">Ask</span>
              <span class="bidArrow">&nbsp;</span>
              <span style="clear: both">&nbsp;</span>
            </li>
        <% for(var i in priceSettings){ %>
        <% var key = i.replace("/", "") %>
            <li>
                <span id="currencyPair_<% key%>" class="currencyPair"><%= i %></span>
                <span id="bidPrice_<%= key %>" class="bidPrice">--</span>
                <span id="bidArrow_<%= key %>" class="bidArrow">&nbsp;</span>
                <span id="askPrice_<%= key %>" class="askPrice">--</span>
                <span id="askArrow_<%= key %>" class="askArrow">&nbsp;</span>
                <span style="clear: both">&nbsp;</span>
            </li>
        <% } %>
        </ul>
      </div>
      <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
			<ul>
				<li><a href="#currencies">Currencies</a></li>
				<li><a href="#chat">Chat</a></li>
			</ul>
		</div>
      </div>
    </div>

    <!-- page2 -->
    <div data-role="page" id="chat">
      <div data-role="header" data-position="fixed">
        <h2>Chat</h2>
        <a href="#chatForm" data-icon="check" class="ui-btn-right" data-transition="slideup">投稿</a>
      </div>
      <div data-role="contents">
        <ul data-role="listview">
            <li>test message</li>
            <li>test message</li>
        </ul>
      </div>
      <div data-role="footer" data-position="fixed">
        <div data-role="navbar">
			<ul>
				<li><a href="#currencies">Currencies</a></li>
				<li><a href="#chat">Chat</a></li>
			</ul>
		</div>
      </div>
    </div>

    <!-- page3 -->
    <div data-role="page" id="chatForm">
      <div data-role="header" data-position="fixed">
        <a href="#chat" data-icon="check" class="data-icon="delete" data-transition="slidedown">Cancel</a>
        <h2>Chat</h2>
        <a href="#" id="sendMessage" data-icon="check" class="ui-btn-right" data-transition="slidedown">投稿</a>
      </div>
      <div data-role="contents">
        <div data-role="fieldcontain">
            <label for="textarea">メッセージを入力してください。:</label>
            <textarea name="textarea" id="textarea"></textarea>
        </div>
      </div>
    </div>
  </body>
</html>

