<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=no,initial-scale=1" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0b3/jquery.mobile-1.0b3.min.css" />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="/javascript/jquery-1.6.4.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.mobile-1.0rc1.js"></script>
    <script type="text/javascript">
      var socket = io.connect('<%= hostname %>');

      var pricePublisher = new PricePublisher(socket);
      <% for(var i in priceSettings){ %>
        pricePublisher.addPriceListener("<%= i %>", new PricePanel({currencyPair : "<%= i %>" }));
      <% } %>

      socket.on('notification', function(data){
        $("#notification").html(data.message);
      });
    </script>
    <title>Prototype PricePanel</title>
  </head>
  <body>
    <div data-role="page">
      <div data-role="header">
    	<h2>PricePanel</h2>
	  </div>
      <div data-role="contents">
        <ul data-role="listview" data-inset="true">
        <% for(var i in priceSettings){ %>
        <% var key = i.replace("/", "") %>
            <li>
                <span id="currencyPair_<% key%>"><%= i %></span>
                <span id="bidPrice_<%= key %>" class="bidPrice">--</span>
                <span id="bidArrow_<%= key %>" class="bidArrow">&nbsp;</span>
                <span id="askPrice_<%= key %>" class="askPrice">--</span>
                <span id="askArrow_<%= key %>" class="askArrow">&nbsp;</span>                
            </li>
        <% } %>
        </ul>
      </div>
      <div data-role="footer">
        copy right 2011 
      </div>
    </div>
  </body>
</html>
