<div data-role="page" id="detail">
    <div data-role="header" data-position="fixed">
        <a data-rel="back" class="ui-btn-left" data-transition="slideleft">Currencies</a>
        <h2>Detail</h2>
    </div>
    <div data-role="contents">
        <ul class="pricePanelDetail" data-role="listview">
            <li>
                <span class="label currencyPairLabel">CurrencyPair</span>
                <span class="value currencyPair"><%= currencyPair %></span>
                <span style="clear: both">&nbsp;</span>
            </li>
            <li>
                <span class="label bidLabel">BID: </span>
                <span id="detailBidPrice_<%= key %>" class="value bidPrice">--</span>
                <span style="clear: both">&nbsp;</span>
            </li>
            <li>
                <span class="label askLabel">ASK: </span>
                <span id="detailAskPrice_<%= key %>" class="value askPrice">--</span>
                <span style="clear: both">&nbsp;</span>
            </li>
            <li>
                <span class="label highLabel">HIGH</span>
                <span id="detailHigh_<%= key %>" class="value highPrice">--</span>
                <span style="clear: both">&nbsp;</span>
            </li>
            <li>
                <span class="label lowLabel">LOW</span>
                <span id="detailLow_<%= key %>" class="value lowPrice">--</span>
                <span style="clear: both">&nbsp;</span>
            </li>
        </ul>

        <div id="bar" class="barArea"></div>
    </div>
</div>
